# rpg-life Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @l-filice89

packages/db/        @l-filice89
packages/api/       @l-filice89
packages/auth/      @l-filice89
packages/validators/ @l-filice89
packages/ui/        @l-filice89
packages/domain/    @l-filice89

apps/api/           @l-filice89
apps/web/           @l-filice89

.github/            @l-filice89
turbo.json          @l-filice89
tsconfig.base.json  @l-filice89
.eslintrc.json      @l-filice89
